@charset "UTF-8";

.smallpad {
	padding: 0.5em;
}

.xspad {
	padding: 0.25em;
}

div.hover:hover {
	background-color: lightgrey;
}
.button-error {
	background: rgb(255, 176, 176);
	/* this is a maroon */
}

.button-warning {
	background: rgb(223, 133, 40);
	/* this is an orange */
}