<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>moni</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
	<servlet>
		<servlet-name>moni</servlet-name>
		<servlet-class>moni.General</servlet-class>
		<init-param>
			<param-name>printRecordings</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>moni</servlet-name>
		<url-pattern>/moni</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/js/*</url-pattern>
		<url-pattern>/css/*</url-pattern>
		<url-pattern>/img/*</url-pattern>
	</servlet-mapping>
	<context-param>
	<!-- Directory where rocordings are stored (Default: /var/bigbluebutton) -->
		<param-name>bbbRecordingsDir</param-name>
		<param-value>/var/bigbluebutton/</param-value>
	</context-param>
	<context-param>
	<!-- A secret hash obtained from bbbconf -->
		<param-name>bbbSecret</param-name>
		<param-value>BBB_HASH_SECRET</param-value>
	</context-param>
	<context-param>
	<!-- BBB API URL for your server -->
		<param-name>bbbServer</param-name>
		<param-value>https://YOUR_BBB_DOMAIN/bigbluebutton</param-value>
	</context-param>
	<context-param>
	<!-- Root path for device which free space will be monitored -->
		<param-name>recordingDrive</param-name>
		<param-value>/</param-value>
	</context-param>
</web-app>